@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --main-color: #ffdf2c;
  --main-color-darker: #eccf2a;
  --secondary-color: #fcb900;
  --bg-color: #0e0e0e;
  --bg-gradient: linear-gradient(180deg, var(--bg-color), var(--main-color));
  --bg-gradient-reverse: linear-gradient(
    180deg,
    var(--main-color),
    var(--bg-color)
  );
  --font-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

/* home data*/

.title__home {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.title__home span {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.3px;
}

.title__home span:last-of-type {
  color: var(--main-color);
}

.video__home {
  width: 100%;
  max-width: 650px;
}

#home button,
.video__home {
  margin: auto;
}
/*---------------*/

h2 {
  color: var(--main-color);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 25px;
  filter: drop-shadow(0px 0px 8px #fcb90083);
}

h3 {
  font-size: 2rem;
  margin-top: 10px;
}

.card {
  padding: 20px;
  border-radius: 5px;
  cursor: default;
}

.card__data {
  font-weight: 500;
}

.card__user {
  margin-top: 10px;
  font-weight: 700;
}

button {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--main-color-darker);
  color: var(--bg-color);
  box-shadow: 0px 0px 32px var(--secondary-color);
  max-width: max-content;
}

footer {
  text-align: center;
  font-weight: 200;
  padding: 20px 0;
  background-color: var(--bg-color);
}
