section {
  padding: 10px 20px 30px;
}

#home {
  background-image: url("../img/bitcoin-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 95vh;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}

section:not(#home) {
  width: 100%;
  max-width: 950px;
  margin: auto auto 60px auto;
}

section:not(#publico) {
  text-align: center;
}

/* sobre */

#sobre p {
  font-size: 1.2rem;
  font-weight: 600;
}

#sobre p:first-of-type {
  margin-bottom: 30px;
}

/* publico */

#publico {
  display: flex;
  justify-content: space-between;
}

.publico__wrapper {
  display: grid;
  gap: 20px;
}

.publico__wrapper .card {
  background-color: #1a1a1a;
  width: 100%;
  max-width: 450px;
  transition: all ease 0.25s;
}

.publico__wrapper .card:hover {
  background-color: #222;
}

.publico__wrapper .card__data img {
  position: relative;
  left: 40%;
  width: 50px;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  #publico {
    flex-direction: column;
  }

  .publico__wrapper {
    justify-content: center;
  }
}

/* depoimentos */

#depoimentos {
  background-image: url("../img/stock-chart-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
}

.depoimentos__wrapper {
  display: flex;
  padding: 10px;
  overflow: hidden;
  gap: 30px;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.depoimentos__wrapper .card {
  background-color: #f1f1f1;
  color: #222;
  min-width: 300px;
  box-shadow: 0px 0px 12px #5c5c5cbb;
}

.depoimentos__wrapper .card__data {
  opacity: 0.8;
  padding-bottom: 10px;
  border-bottom: 2px solid #c4c4c4b6;
}

.depoimentos__buttons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 95%;
  max-width: 890px;
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 0;
  margin: auto;
}

.depoimentos__buttons a {
  position: relative;
  box-shadow: 0px 0px 10px #222222bd;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.depoimentos__buttons a::after,
.depoimentos__buttons a::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 2px;
  background-color: #181818;
  border-radius: 5px;
}

.depoimentos__buttons a:first-of-type::after {
  top: 0;
  left: 0;
  bottom: 8px;
  right: 2px;
  margin: auto;
  transform: rotate(140deg);
}

.depoimentos__buttons a:first-of-type::before {
  top: 7.5px;
  left: 0;
  bottom: 0;
  right: 2px;
  margin: auto;
  transform: rotate(40deg);
}

.depoimentos__buttons a:last-of-type::after {
  top: 0;
  left: 0;
  bottom: 8px;
  right: 0;
  margin: auto;
  transform: rotate(30deg);
}

.depoimentos__buttons a:last-of-type::before {
  top: 7.5px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: rotate(140deg);
}

/* duvidas */

.duvida__container {
  width: 100%;
  max-width: 600px;
  margin: auto auto 15px auto;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--font-color);
  position: relative;
}

.duvida__titulo {
  user-select: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.duvida__titulo.selecionado {
  color: var(--main-color);
}

.duvida__titulo::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -15px;
  width: 0;
  height: 0;
  border-top: 7.5px solid transparent;
  border-bottom: 7.5px solid transparent;
  border-left: 7.5px solid var(--main-color);
  transition: 0.2s ease all;
}

.duvida__titulo.selecionado::after {
  transform: rotate(90deg);
}

.duvida__conteudo {
  font-size: 1.1rem;
  font-weight: 500;
  display: none;
}

.duvida__conteudo.active {
  display: block;
}
